/* ========= Base ========= */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color: #000;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background-color: #eee;
    line-height: 1.25;
}

/* ========= Navigation ========= */
.navbar {
    width: 100%;
    height: 8rem;
    background-color: #ddd;
    padding: 0 8rem;

    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 4rem;
    margin-right: 4rem;
}

.navbar-list {
    display: flex;

    list-style: none;
}

.navbar-link:not(:last-child) {
    margin-right: 2rem;
}

.navbar-link a {
    text-decoration: none;
    color: #000;
}

.navbar-button {
    display: block;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 1rem 2rem;
    transition: all 0.3s;
    cursor: pointer;
}

.navbar-button:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.navbar-button-link {
    text-decoration: none;
    margin-left: auto;
}

/* ========= Biodata ========= */
.biodata-box {
    margin: auto;

    width: 98rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.biodata-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    padding: 4rem;
    margin: 4rem 0;
}

.biodata-text {
    width: 90%;
    margin-top: 2rem;
}

.biodata-btn {
    display: block;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 2rem 0;
    transition: all 0.3s;
    cursor: pointer;
}

.biodata-btn-link:link {
    text-decoration: none;
}

.biodata-btn:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.biodata-download-wrapper {
    display: flex;
    align-items: center;
}

.biodata-download-cv {
    margin-left: 1rem;
}

.biodata-media {
    display: flex;

    margin-top: 2rem;
}

.biodata-media-link:link,
.biodata-media-link:visited {
    color: #000;
}

.biodata-media-link:not(:last-child) {
    margin-right: 2rem;
}

.biodata-card-box {
    display: flex;
    justify-content: center;
}

.biodata-card {
    width: 25rem;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.biodata-card-photo {
    display: block;
    width: 100%;
}

.biodata-card-desc {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
}

.biodata-card-name {
    font-size: 1.6rem;
    font-weight: 600;
}

.biodata-card-job {
    font-size: 1.2rem;
    margin-top: 5px;
}

/* ========= Contact ========= */
.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 60rem;
    background-color: #eee;
    border-radius: 1rem;
    padding: 4rem 8rem;
}

.form-input:not(:last-child) {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.form-inputed {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 1rem;
}

.form-inputed:focus {
    outline: none;
    border-bottom: 2px solid green;
}

.form-inputed-message {
    height: 10rem;
}

.form-link {
    display: block;
    text-decoration: none;
    width: 12rem;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    text-align: center;
    padding: 1rem 2rem;
    margin: 2rem auto 0;
    transition: all 0.3s;
    cursor: pointer;
}

.form-link:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

/* ========= add Project ========= */
.form-content {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
}

.form-left-content {
    flex: 50%;
    margin-right: 3rem;
}

.form-right-content {
    flex: 50%;
}

.form-inputed-description {
    height: 10rem;
}

.form-checkbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 1rem;
}

.form-checkbox-wrapper-left {
    margin-bottom: 1rem;
}

.form-checkbox:not(:last-of-type) {
    margin-right: 6rem;
}

.form-choose-file {
    flex: 50%;
    display: block;
    align-items: center;
    justify-content: flex;
    background-color: rgb(255, 255, 255);
    border: 5px grey;
    border-radius: 5px;
    cursor: pointer;
}

.form-choose:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

/* ==== My Project */

/*  .form-my-project {
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    padding: 2rem;
} */

.conteiner-form-my-project {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.project-item {
    width: 30%;
    padding: 1rem;
    margin: 2rem 1rem;
    border: 2rem solid #eee;
    border-radius: 1rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.my-project-img img {
    display: block;
    width: 100%;
    height: 50rem;
    object-fit: cover;
    border-radius: 5px;
}

.detail-project h3 {
    text-decoration: none;
    color: #000;
    margin-bottom: 5px;
    margin-top: 1rem;
}

.detail-project {
    margin-top: 10px;
}

.detail-project-content {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 20px;
    margin-top: 0px;
}

.detail-project {
    overflow: hidden;
}

.detail-project:last-child,
.detail-project:hover {
    overflow: visible;
}

.myproject-text {
    width: 90%;
    margin-top: 1rem;
}

.btn-submit-my-project {
    background-color: #313131;
    color: white;
    padding: 5px 2rem;
    margin-top: 2rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    font-weight: bold;
    float: right;
}

.btn-submit-my-project:hover {
    background-color: #000000;
}

.card-box {
    display: flex;
    margin-top: 2rem;
}

.card-wrapper img {
    width: 6rem;
    margin-right: 2rem;
}

.card-box div {
    margin: 5px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    text-align: center;
    object-fit: cover;
}

.btn-edit {
    display: block;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    width: 10rem;
    padding: 1rem 2rem;
    margin: 2rem 0;
    transition: all 0.3s;
    cursor: pointer;
}

.btn-delete {
    display: block;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    width: 10rem;
    padding: 1rem 2rem;
    margin: 2rem 0;
    transition: all 0.3s;
    cursor: pointer;
}

/* DetailProject */

.my-project-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
}

.my-project-detail-container {
    width: 900px;
    margin-top: 0;
    box-sizing: border-box;
}

.my-project-detail-container .detcon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.my-project-detail-container .detcon .left {
    width: 50rem;
    margin-right: 1rem;
}

.my-project-detail-container .detcon .left img {
    width: 100%;
    object-fit: fill;
}

.detcon .right img {
    width: 3rem;
    height: 3rem;
}

.detcon .right .text1 {
    margin-top: 1rem;
}

.detcon .right .text2 .log {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.detcon .right .text2 .log2 {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.my-project-detail-container h4 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.my-project-detail-container h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 2rem;
    margin-left: 20rem;
    margin-right: 10rem;
}

.paragraf {
    margin-top: 2rem;
    text-align: justify;
}

/* ========= Typography ========= */
.heading-1 {
    font-size: 1.6rem;
}

.heading-2 {
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.heading-3 {
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.heading-4 {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.heading-1,
.heading-2,
.heading-3 {
    font-weight: 600;
}

/* ========= Icon ========= */
.icon-download {
    margin-left: 1rem;
    cursor: pointer;
}

.icon-media {
    font-size: 3rem;
}
